#cashSum{
  border: solid 0.5px #555;
}

.imgHolder{
  position: relative;
  display: inline-block;
  width:25%;
  height:100px;
}
.image{
  position: absolute;
  width:50%;
  height:100%;
}

.amount{
  text-align: center;
}